<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Alunos</h1>
    <div class="actions flex gap-4">
      <button mat-raised-button color="secondary" (click)="applyFilters()">
        <mat-icon class="mr-2">search</mat-icon>
        Filtrar
      </button>
      @if (isAdminUser) {
        <button mat-raised-button color="primary" (click)="openStudentDialog()">
          <mat-icon class="mr-2">add</mat-icon>
          Novo Aluno
        </button>
      }
    </div>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6 bg-white p-4 rounded-lg shadow-sm"
  >
    <mat-form-field appearance="fill" class="no-focus">
      <mat-label>Nome do Aluno</mat-label>
      <input matInput [(ngModel)]="filters.name" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Turma</mat-label>
      <mat-select [(ngModel)]="filters.class">
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let class of classes" [value]="class.id">
          {{ class.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ano Letivo</mat-label>
      <mat-select [(ngModel)]="filters.schoolYear">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let year of schoolYears" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table
    mat-table
    [dataSource]="filteredStudents"
    class="w-full mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let student">{{ student.name }}</td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Data de Nascimento</th>
      <td mat-cell *matCellDef="let student">
        {{ student.birthDate | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef>Turma</th>
      <td mat-cell *matCellDef="let student">
        {{ getStudentClass(student.refClass) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="schoolYear">
      <th mat-header-cell *matHeaderCellDef>Ano Letivo</th>
      <td mat-cell *matCellDef="let student">{{ student.schoolYear }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let student">
        <button
          mat-icon-button
          color="primary"
          (click)="openStudentDialog(student)"
          matTooltip="Editar"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteStudent(student.id)"
          matTooltip="Excluir"
        >
          <mat-icon>delete</mat-icon>
        </button>
        @if (isAdminUser) {
          <button
            mat-icon-button
            color="accent"
            (click)="generateReport(student)"
            matTooltip="Gerar Boletim"
          >
            <mat-icon>description</mat-icon>
          </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
