<mat-sidenav-container class="h-screen">
  <mat-sidenav mode="side" opened class="w-64 bg-white">
    <div class="p-4 border-b flex items-center justify-center">
      <h1 class="text-xl font-bold text-gray-800">Sistema Escolar</h1>
    </div>

    <mat-nav-list>
      @for (item of isAdminUser ? menuItemsAdmin : menuItemsTeacher; track $index) {
        <a mat-list-item
           [routerLink]="item.path"
           routerLinkActive="active-link"
           class="my-1">
          <mat-icon class="mr-4">{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg-gray-50">
    <mat-toolbar class="bg-white border-b">
      <div class="flex justify-between items-center w-full px-4">
        <h2 class="text-gray-800 font-medium">Bem-vindo ao Sistema</h2>
        <button mat-button (click)="logout()" class="text-gray-600">
          <mat-icon class="mr-2">exit_to_app</mat-icon>
          Sair
        </button>
      </div>
    </mat-toolbar>

    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
